<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rajesh.mifeelingsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".user_manage.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".user_manage.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".category.Category"
            android:label="Category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user_manage.User_Registration" />
        <activity android:name=".user_manage.ForgetPassword" />
        <activity android:name=".user_manage.OtpSection" />
        <activity
            android:name=".Home_Page.WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user_manage.MyProfile"
            android:label="My profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".user_manage.Changepassword" />
        <activity android:name=".user_manage.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".category.category_events"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>